<% include ../layout/header %>
   <h1 class="text-center">
      Raw Materials
   </h1>
   <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
         <a class="btn btn-lg btn-success" href="/raw/add">Add Raw Material</a>
      </div>
   </div>
   <div class="container d-flex flex-wrap">
      <% raws.forEach( (raw) => {%>
         <div class="card bg-dark text-white m-4" style="width: 18rem;">
            <div class="card-body">
               <h5 class="card-title mb-3"> <%= raw.rName %></h5>
               <ul class="list-group">
                  <li class="list-group-item list-group-item-dark"><b>Quantity:</b> <%= raw.quantity %></li>
                  <li class="list-group-item list-group-item-dark"><b>Price:</b> <%= raw.price %></li>
                  <li class="list-group-item list-group-item-dark"><b>Expiry Date:</b> <%= raw.expDate %></li>
               </ul>
            </div>
         </div>
      <% }) %>
   </div>
<% include ../layout/footer %>